<header>
  <img class="logo" src="assets/img/logo.svg" alt="Logo da Accenture">
</header>

<div class="row">
  <div class="col-md-2 menu" [ngClass]="{minimize: !isMenuMaximized}">
    <button>Teste</button>
    <ng-container *ngIf="isMenuMaximized">
      <ul>
        <li>Tela 1</li>
      </ul>
      <ul>
        <li>Tela 2</li>
        <li>Tela 3</li>
        <li>Tela 4</li>
      </ul>
      <ul>
        <li>Tela 5</li>
      </ul>
    </ng-container>
    <div class="menu-hide-controls">
      <i class="fa fa-angle-left" aria-hidden="true" [hidden]="!isMenuMaximized" (click)="minimizeMenu()"></i>
      <i class="fa fa-angle-right" aria-hidden="true" [hidden]="isMenuMaximized" (click)="maximizeMenu()"></i>
    </div>
  </div>

  <div class="col-md-10 container">
    <h2>Demandas</h2>
    <div class="chart">
      <canvas baseChart 
        [colors]="barChartColors"
        [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
        [chartType]="barChartType"></canvas>
    </div>

    <div class="data-table">
      <p class="table-title">Tabela</p>
      <table>
        <thead>
          <tr>
            <td>Data</td>
            <td>Demanda</td>
            <td>Capacidade</td>
            <td>Atendimento Planejado</td>
            <td>Atendimento Realizado</td>
            <td>
              <i class="fa fa-ellipsis-h"></i>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let demand of data">
            <td>{{demand.date}}</td>
            <td>{{demand.name}}</td>
            <td>{{demand.capacity}}</td>
            <td>{{demand.planningAttendance}}</td>
            <td>{{demand.fulfilledAttendance}}</td>
            <td></td>
          </tr>
        </tbody>
      </table>
      <div class="table-controls">
        <i class="fa fa-angle-left control-pagination"></i>
        <i class="fa fa-angle-double-left control-pagination"></i>
        <span>Página
          <input type="text" value="1" /> de 87
        </span>
        <i class="fa fa-angle-double-right control-pagination"></i>
        <i class="fa fa-angle-right control-pagination"></i>
        <select name="perPage">
          <option value="20" selected="selected">20</option>
        </select>
        <span class="page-description">Exemplo: Visualizando 1 - 30 de 2 604</span>
      </div>
    </div>

  </div>
</div>